{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

{% if items %}
    <!--Load Vue.js from a CDN-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--Render our JSON data as JavaScript-->
    <script type='text/javascript'>
        var people = {{ items_json | safe }}; // looks-like [{"name": "bob", "age": 32, "url": "https://example.com"}, (...)]
    </script>

    <div id="app">
        [[message]]

        <ul>
            <li v-for="person in people">
                <a v-bind:href="person.url">[[person.name]]</a> <button v-on:click="greet(person.name)">hey</button>
            </li>
        </ul>
        <p>Let's see v-for usage</p>
        <ol>
            <li v-for="todo in todos">
                [[ todo.text ]]
            </li>
        </ol>

        <button v-on:click="reverseMessage">Reverse Message</button>
        <p>Method reversed message: "[[ reverseMessage2() ]]"</p>
        <p>Computed reversed message: "[[ cpReverseMessage ]]"</p>
        <p>data and computed both has, find which: "[[ shitshit ]]"</p>
        <p>Let's see v-model usage</p>
        <input v-model="message" placeholder="Type Something">

        <p>Let's see components usage</p>
        <ol>
            <todo-item-simple></todo-item-simple>
            <todo-item-simple></todo-item-simple>
            <todo-item-simple></todo-item-simple>
        </ol>

        <p>Let's see components usage 2</p>
        <ol>
            <grocery-item
                v-for="item in groceryList"
                v-bind:gc="item"
                v-bind:key="item.id">
            </grocery-item>
        </ol>

        <p>In addition to text interpolation, we can also bind element attributes</p>
        <ul>
            <li><span title="This span element NOT bind, you always see this string">Hardcode title</span></li>
            <li><span v-bind:title="timeToLoadPage">
                Hover your mouse over me for a few seconds
                to see my dynamically bound title!
                </span>
            </li>
            <li><span v-once>This will never change: [[ message ]]</span></li>
        </ul>

        <p>See v-disable how it works</p>
        <button v-bind:disabled="checkIt">Button</button>
        <button v-if="checkIt">Button</button>
        
        
    </div>
    {% load staticfiles %}
    <script src="{% static 'app/scripts/vue_about.js' %}"></script>
    <!--<script src="index.js"></script> This is wrong on django template-->

    <!-- Since there is already a rich ecosystem of ajax libraries    -->
    <!-- and collections of general-purpose utility methods, Vue core -->
    <!-- is able to remain small by not reinventing them. This also   -->
    <!-- gives you the freedom to use what you're familiar with. -->
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
{% else %}
    <p>No items available. BABA</p>
{% endif %}

{% endblock %}